In [1]:
import pandas as pd

In [6]:
try:
    data_metadata = pd.read_table('metadata.tsv')
    data_high_density_lipids = pd.read_table('high_density_lipids.tsv')
    data_low_density_lipids = pd.read_table('low_density_lipids.tsv')
except:
    print('error_load_data')

In [13]:
data_metadata.head()

,Vialnumber,Patientnumber,Sucrose,Name,Group,Date,Age,Plasmavolume,Ht,Wt,...,rlatmax,rantmax,rposmax,llatmax,lantmax,lposmax,carotidIMTmean,Plaque,Statins,comorbidities
0,1,50,0,"Begaye, Decarlo",0,2023-01-14,63,6.5,163,84.0,...,0.65,0.80,0.80,0.81,0.78,0.80,0.642500,1,1.0,NaN
1,2,51,0,"Sweetwater, Kristen",0,2022-10-09,47,5.5,179,111.0,...,1.03,0.92,1.03,1.03,1.03,1.09,0.840000,1,0.0,NaN
2,3,52,0,"Figurelli, Samuel",1,2023-10-24,57,7.0,164,80.0,...,1.00,0.90,0.95,0.85,0.90,0.90,0.850000,3,1.0,Type 2 diabetes mellitus; MI - 2016
3,4,53,0,"Pamphille, Mehgan",1,2023-07-02,72,5.0,160,58.8,...,0.91,0.97,0.98,0.86,0.74,0.80,0.824167,2,0.0,1-2 times per year hypertensive crises (Corinfar)
4,5,54,0,"Morgan, Rollin",1,2022-11-27,57,5.0,180,71.0,...,1.20,1.20,1.25,1.10,1.30,1.13,1.098333,1,1.0,NaN

In [14]:
data_high_density_lipids.head()

,Vial.number,Patient.number,Name,GPHDL1,GPHDL2,GPHDL3,GPHDL4,GPHDL5,GPHDL6,GPHDL7,...,G1,G2,G3,S0,S1,S2,S3,B,F,HM
0,1,50,HDL,0.38,1.78,0.14,0.05,0.73,2.90,1.57,...,12.23,58.69,20.97,2.87,29.57,44.39,15.06,0.05,7.35,2.49
1,3,52,HDL,0.43,1.30,0.23,0.05,0.59,2.62,1.62,...,11.98,57.50,21.94,2.92,29.60,43.93,14.97,0.05,8.71,1.53
2,4,53,HDL,0.41,3.86,0.31,0.10,0.96,3.19,2.42,...,15.00,62.10,12.74,4.20,37.03,40.68,7.93,0.10,4.81,5.08
3,5,54,HDL,0.50,1.79,0.23,0.06,0.77,2.96,1.76,...,12.85,56.02,22.70,3.32,30.01,41.78,16.46,0.06,8.85,2.30
4,6,55,HDL,0.40,3.69,0.17,0.03,0.80,3.04,1.62,...,13.81,59.78,16.14,3.02,33.69,42.18,10.84,0.03,7.25,4.33

In [15]:
data_low_density_lipids.head()

,Vial.number,Patient.number,Name,GPLDL1,GPLDL2,GPLDL3,GPLDL4,GPLDL5,GPLDL6,GPLDL7,...,G1,G2,G3,S0,S1,S2,S3,B,F,HM
0,1,50,LDL,0.40,6.74,0.20,0.02,1.09,3.79,2.27,...,4.09,68.91,3.57,3.98,28.18,42.46,1.95,0.02,1.67,13.02
1,3,52,LDL,0.46,7.37,0.39,0.02,1.06,4.55,2.71,...,5.16,68.22,3.11,4.64,30.43,39.86,1.56,0.02,1.69,14.16
2,4,53,LDL,0.30,8.23,0.26,0.02,0.88,3.66,2.32,...,3.95,68.03,4.50,3.78,29.37,41.13,2.20,0.02,1.89,13.89
3,5,54,LDL,0.47,7.94,0.29,0.02,1.11,3.97,2.55,...,4.63,66.91,4.03,4.44,28.54,40.64,1.95,0.02,2.03,14.25
4,6,55,LDL,0.31,9.68,0.18,0.02,0.97,4.50,2.24,...,4.05,64.01,5.27,3.72,26.71,40.39,2.51,0.02,2.70,16.06

In [17]:
data_metadata.columns

Index(['Vialnumber', 'Patientnumber', 'Sucrose', 'Name', 'Group', 'Date',
       'Age', 'Plasmavolume', 'Ht', 'Wt', 'BMI', 'Sys', 'Dia', 'PR', 'Sm',
       'Dm', 'HT', 'LVH', 'IHD', 'MI', 'Str', 'A_C', 'A_H', 'A_D', 'Choi',
       'Tgi', 'HDLi', 'LDLi', 'Choi_exp', 'Tgi_exp', 'HDLi_exp', 'LDLi_exp',
       'AI', 'rlatmin', 'rantmin', 'rposmin', 'llatmin', 'lantmin', 'lposmin',
       'rlatmax', 'rantmax', 'rposmax', 'llatmax', 'lantmax', 'lposmax',
       'carotidIMTmean', 'Plaque', 'Statins', 'comorbidities'],
      dtype='object')

In [27]:
data_metadata['Patientnumber'].value_counts()

Patientnumber
38    2
37    2
40    2
39    2
43    2
42    2
50    1
51    1
57    1
56    1
58    1
59    1
54    1
55    1
52    1
53    1
62    1
63    1
60    1
61    1
41    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
44    1
25    1
26    1
27    1
Name: count, dtype: int64

In [28]:
data_metadata['Patientnumber'].unique()

array([50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 37, 38, 39,
       40, 41, 42, 43, 30, 31, 32, 33, 34, 35, 36, 44, 25, 26, 27])

In [23]:
data_metadata['Patientnumber'].count()

np.int64(38)

In [20]:
data_metadata['Name'].unique()

array(['Begaye, Decarlo', 'Sweetwater, Kristen', 'Figurelli, Samuel',
       'Pamphille, Mehgan', 'Morgan, Rollin', 'Abdul-Amin, Taelor',
       "el-Reza, Mu'mina", 'Callahan, Govanni', 'Parker, Zhjade',
       'Ficklin, Madyson', 'Headlee, Kristopher', 'Araujo, Nicole',
       'Pelayo, Katelyn', 'Running-Rabbit, Scheridan', 'Vigil, Rene',
       'Mascarenas, Anthony', 'el-Kamal, Shaamil', 'Drager, Rachel',
       'el-Rasul, Faaid', 'Martinez, Nova', 'Aguilar, Dominique',
       'Rastle, Kathy', 'Craddock, Kadijah', 'Ng, Christian',
       'Padilla, Joshua', 'Truong, Minh', 'Blackmer, David',
       'Garcia, Alexa', 'Gurung, Gavriel', 'Olson, Sheldon',
       'Potter, Taylor', 'Thompson, Ben', 'Turnage, Tonaira',
       'Kim, Mathew', 'Lynn, Amber', 'Rizzolo, Tanner', 'Gonzalez, Joy',
       'Smith, Bayleigh'], dtype=object)

In [21]:
data_metadata['Group'].unique()

array([0, 1])

# Пациенты разбиты на две группы (0,1).
# персональные данные 'Name','Age'
# Date дата забора
# Vialnumber идентификатор образца
# Patientnumber идентификатор пациента
# Sucrose сахароза (0,1)
# 'Ht', 'Wt', 'BMI', 'Sys', 'Dia', 'PR', 'Sm', 'Dm', 'HT', 'LVH', 'IHD', 'MI', 'Str', 'A_C', 'A_H', 'A_D', 'Choi', 'Tgi', 'HDLi', 'LDLi', 'Choi_exp', 'Tgi_exp', 'HDLi_exp', 'LDLi_exp','AI','rlatmin', 'rantmin', 'rposmin', 'llatmin', 'lantmin', 'lposmin','rlatmax', 'rantmax', 'rposmax', 'llatmax', 'lantmax', 'lposmax', 'carotidIMTmean', 'Plaque' - показатели анализов, данных узи, антропоментрические данные
# Statins статины
# comorbidities коморбидная патология

In [34]:
data_high_density_lipids.columns

Index(['Vial.number', 'Patient.number', 'Name', 'GPHDL1', 'GPHDL2', 'GPHDL3',
       'GPHDL4', 'GPHDL5', 'GPHDL6', 'GPHDL7', 'GPHDL8', 'GPHDL9', 'GPHDL10',
       'GPHDL11', 'GPHDL12', 'GPHDL13', 'GPHDL14', 'GPHDL15', 'GPHDL16',
       'GPHDL17', 'GPHDL18', 'GPHDL19', 'GPHDL20', 'GPHDL21', 'GPHDL22',
       'sum_auc', 'LB', 'HB', 'G1', 'G2', 'G3', 'S0', 'S1', 'S2', 'S3', 'B',
       'F', 'HM'],
      dtype='object')

In [35]:
data_low_density_lipids.columns

Index(['Vial.number', 'Patient.number', 'Name', 'GPLDL1', 'GPLDL2', 'GPLDL3',
       'GPLDL4', 'GPLDL5', 'GPLDL6', 'GPLDL7', 'GPLDL8', 'GPLDL9', 'GPLDL10',
       'GPLDL11', 'GPLDL12', 'GPLDL13', 'GPLDL14', 'GPLDL15', 'GPLDL16',
       'GPLDL17', 'GPLDL18', 'GPLDL19', 'GPLDL20', 'GPLDL21', 'GPLDL22',
       'sum_auc', 'LB', 'HB', 'G1', 'G2', 'G3', 'S0', 'S1', 'S2', 'S3', 'B',
       'F', 'HM'],
      dtype='object')

In [37]:
data_high_density_lipids['Name'].unique()

array(['HDL'], dtype=object)

In [38]:
data_low_density_lipids['Name'].unique()

array(['LDL'], dtype=object)

# в колонке Name два значения HDL и LDL - способ анонимизировать данные, альтернативный вариант хэш функция

# GPLDL1', 'GPLDL2', 'GPLDL3', 'GPLDL4', 'GPLDL5', 'GPLDL6', 'GPLDL7', 'GPLDL8', 'GPLDL9', 'GPLDL10', 'GPLDL11', 'GPLDL12', 'GPLDL13', 'GPLDL14', 'GPLDL15', 'GPLDL16', 'GPLDL17', 'GPLDL18', 'GPLDL19', 'GPLDL20', 'GPLDL21', 'GPLDL22', 'sum_auc', 'LB', 'HB', 'G1', 'G2', 'G3', 'S0', 'S1', 'S2', 'S3', 'B','F', 'HM' - маркеры

# вероятно это обсервационное исследование
# две группы high_density_lipids и low_density_lipids

# Age возраст int 
# BMI индекс массы теда int
# Statins статины bool
# 'Sm', 'Dm', 'HT', 'LVH', 'IHD', 'MI', 'Str', 'A_C', 'A_H', 'A_D' - bool

In [46]:
data_metadata.head()

,Vialnumber,Patientnumber,Sucrose,Name,Group,Date,Age,Plasmavolume,Ht,Wt,...,rlatmax,rantmax,rposmax,llatmax,lantmax,lposmax,carotidIMTmean,Plaque,Statins,comorbidities
0,1,50,0,"Begaye, Decarlo",0,2023-01-14,63,6.5,163,84.0,...,0.65,0.80,0.80,0.81,0.78,0.80,0.642500,1,1.0,NaN
1,2,51,0,"Sweetwater, Kristen",0,2022-10-09,47,5.5,179,111.0,...,1.03,0.92,1.03,1.03,1.03,1.09,0.840000,1,0.0,NaN
2,3,52,0,"Figurelli, Samuel",1,2023-10-24,57,7.0,164,80.0,...,1.00,0.90,0.95,0.85,0.90,0.90,0.850000,3,1.0,Type 2 diabetes mellitus; MI - 2016
3,4,53,0,"Pamphille, Mehgan",1,2023-07-02,72,5.0,160,58.8,...,0.91,0.97,0.98,0.86,0.74,0.80,0.824167,2,0.0,1-2 times per year hypertensive crises (Corinfar)
4,5,54,0,"Morgan, Rollin",1,2022-11-27,57,5.0,180,71.0,...,1.20,1.20,1.25,1.10,1.30,1.13,1.098333,1,1.0,NaN

# эмпирические гипоты
* влияние приема статинов на уровень ЛПНП и ЛПВП
* влияние уровня липопротеинов на риск развития сердечно-сосудистых заболеваний
* влияние уровня липопротеинов на степень выраженности атеросклероза брахиоцефальных артерий